/* line 7, ../compass/style.scss */
* { margin: 0px; padding: 0px; }

/* line 11, ../compass/style.scss */
body { background: url(../img/classy_fabric.png) #282828; }

/* line 14, ../compass/style.scss */
header { margin: 0 auto; width: 90%; text-align: center; height: 150px; max-width: 1024px; }
/* line 21, ../compass/style.scss */
header h1 { text-align: center; margin-top: 45px; width: 80%; transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; font-size: 70px; font-family: arial; text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); display: inline-block; color: #fff; }
/* line 47, ../compass/style.scss */
header h1:hover { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); transform: scale(1.3); }

/* line 55, ../compass/style.scss */
nav { width: 90%; max-width: 1024px; margin: 0 auto; text-align: center; margin-bottom: 15px; }
/* line 62, ../compass/style.scss */
nav ul { list-style: none; margin: 0 auto; width: 500px; }
/* line 67, ../compass/style.scss */
nav ul li { display: inline; }
/* line 70, ../compass/style.scss */
nav ul li a { text-decoration: none; color: #fff; padding: 5px; -webkit-transition: background 1s; -moz-transition: background 1s; -mz-transition: background 1s; -o-transition: background 1s; transition: background 1s; font-weight: bold; font-size: 18px; background: #019cff; }
/* line 85, ../compass/style.scss */
nav ul li a:hover { background: #a33838; }

/* line 91, ../compass/style.scss */
#wrapper, footer { width: 80%; max-width: 1024px; color: #fff; margin: 0 auto; margin-top: 30px; }
/* line 98, ../compass/style.scss */
#wrapper article, footer article, #wrapper aside, footer #wrapper aside, #wrapper footer aside, #wrapper footer aside, footer #wrapper aside, footer aside { width: 70%; display: inline-block; vertical-align: top; }
/* line 104, ../compass/style.scss */
#wrapper article p a, footer article p a, #wrapper aside p a, footer #wrapper aside p a, #wrapper footer aside p a, #wrapper footer aside p a, footer #wrapper aside p a, footer aside p a { text-decoration: none; font-weight: bold; color: #019cff; }
/* line 109, ../compass/style.scss */
#wrapper article p a:hover, footer article p a:hover, #wrapper aside p a:hover, footer #wrapper aside p a:hover, #wrapper footer aside p a:hover, #wrapper footer aside p a:hover, footer #wrapper aside p a:hover, footer aside p a:hover { text-decoration: underline; }
/* line 113, ../compass/style.scss */
#wrapper article section, footer article section, #wrapper aside section, footer #wrapper aside section, #wrapper footer aside section, #wrapper footer aside section, footer #wrapper aside section, footer aside section { margin-bottom: 15px; }
/* line 116, ../compass/style.scss */
#wrapper article section h2, footer article section h2, #wrapper aside section h2, footer #wrapper aside section h2, #wrapper footer aside section h2, #wrapper footer aside section h2, footer #wrapper aside section h2, footer aside section h2 { background: #019cff; padding-left: 10px; }
/* line 121, ../compass/style.scss */
#wrapper article section span, footer article section span, #wrapper aside section span, footer #wrapper aside section span, #wrapper footer aside section span, #wrapper footer aside section span, footer #wrapper aside section span, footer aside section span { margin-top: 5px; min-height: 150px!important; display: block; background: #3a3a3a; padding: 5px; }
/* line 128, ../compass/style.scss */
#wrapper article section span figure, footer article section span figure, #wrapper aside section span figure, footer #wrapper aside section span figure, #wrapper footer aside section span figure, #wrapper footer aside section span figure, footer #wrapper aside section span figure, footer aside section span figure { display: block; }
/* line 134, ../compass/style.scss */
#wrapper aside, footer aside { width: 28%; border-left: 2px groove #019CFF; padding-left: 5px; }
/* line 140, ../compass/style.scss */
#wrapper aside #box, footer aside #box { padding-top: 0px; padding-bottom: 10px; }
/* line 145, ../compass/style.scss */
#wrapper aside #box h3, footer aside #box h3 { text-align: center; background: #019cff; margin-bottom: 5px; }
/* line 153, ../compass/style.scss */
#wrapper aside #box span, footer aside #box span { display: block; background: #3a3a3a; padding: 5px; text-aign: justify; }
/* line 161, ../compass/style.scss */
#wrapper aside .redes, footer aside .redes { text-align: center; }
/* line 164, ../compass/style.scss */
#wrapper aside .redes img, footer aside .redes img { margin-left: 5px; margin-rigth: 5px; vertical-align: top; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
/* line 176, ../compass/style.scss */
#wrapper aside .redes img:hover, footer aside .redes img:hover { -ms-transform: rotate(360deg); /* IE 9 */ -webkit-transform: rotate(360deg); /* Safari and Chrome */ -o-transform: rotate(360deg); /* Opera */ -moz-transform: rotate(360deg); /* Firefox */ transform: rotate(360deg); border-radius: 8px; border-style: solid; border-width: 3px; border-color: #737373; }

/* line 192, ../compass/style.scss */
footer { font-weight: bold; margin-top: 1px; margin-bottom: 10px; }
/* line 198, ../compass/style.scss */
footer a { color: #019cff; text-decoration: none; font-weight: bold; }
/* line 203, ../compass/style.scss */
footer a:hover { text-decoration: underline; }

/* line 207, ../compass/style.scss */
#left { float: left; margin-right: 5px; }

/* line 211, ../compass/style.scss */
::selection { color: #46a4c3; text-shadow: 0 0 20px #8e9393; }

/* line 215, ../compass/style.scss */
::-moz-selection { color: #46a4c3; background: white; text-shadow: 0 0 20px #8e9393; }
/* line 220, ../compass/style.scss */
::-moz-selection a { color: red; }
