::-webkit-scrollbar {
  height: 20px;
  overflow: visible;
  width: 8px;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  cursor: pointer;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.6);
  min-height: 30px;
}

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-width: 0 0 0 4px;
  border: solid transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-track-piece:hover {
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #F5F5F5;
  border: solid white;
  border-width: 3px 0 0 3px;
}
